@using SharpGlide.IO.Extensions
<div class="card" style="width: 18rem;">
    <div class="card-header">
        @Header
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Files: @FilesCount</li>
        <li class="list-group-item">Folders: @FoldersCount</li>
        <li class="list-group-item">Total Size: @TotalSize.ToReadable()</li>
    </ul>
</div>

@code {

    [Parameter]
    public string Header { get; set; }

    [Parameter]
    public long FilesCount { get; set; }

    [Parameter]
    public long FoldersCount { get; set; }

    [Parameter]
    public long TotalSize { get; set; }
}