<p>@Header</p>
<br/>
<div class="progress">
    <div class="progress-bar" role="progressbar"
         style="width: @Percent%;"
         aria-valuenow="@Percent"
         aria-valuemin="0"
         aria-valuemax="100">
        @Percent%
    </div>
</div>
<br/>

@code {

    [Parameter]
    public string Header { get; set; }

    [Parameter]
    public double Percent { get; set; }
}