<p>@Header</p>
<br/>
<div class="progress">
    <div class="progress-bar" role="progressbar"
         style="width: @Percent%;"
         aria-valuenow="@Percent"
         aria-valuemin="0"
         aria-valuemax="100">
        @Percent%
    </div>
</div>
<br/>

@code {
    private int Percent
    {
        get
        {
            if (this.MaximumValue == 0)
            {
                return 0;
            }
        
            var difference = this.MaximumValue - this.CurrentValue;

            double percent = 1.0 - ((double)difference / (double)this.MaximumValue);

            percent *= 100;

            return (int)(Math.Round(percent, 0));
        }
    }

    [Parameter]
    public string Header { get; set; }

    [Parameter]
    public long MaximumValue { get; set; }

    [Parameter]
    public long CurrentValue { get; set; }
}