<div class="card" style="width: 18rem;">
    <div class="card-header">
        @Header
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Time spent: @TimeSpan.FromSeconds(TimeSpentSec).ToString("g")</li>
        <li class="list-group-item">Finish in: @TimeSpan.FromSeconds(FinishInSec).ToString("g")</li>
    </ul>
</div>

@code {

    [Parameter]
    public string Header { get; set; }

    [Parameter]
    public double TimeSpentSec { get; set; } 
    
    [Parameter]
    public double FinishInSec { get; set; }
}